<app-header></app-header>

<section class="container mt-5">
    <h3 class="fw-bold">Featured Categories</h3>
    <div class="row">
        <div class="col-md-2 col-6 p-2" *ngFor="let product of allDataProduct">
            <div class="card shadow-sm" data-toggle="modal" data-target="productModal" (click)="openModal(product)">
                <!-- Dynamically set the product image -->
                <img src="{{Base_url+product.images[0]?.url}}" class="card-img-top" alt="{{product.name}}">

                <div class="card-body text-center">
                    <!-- Display product name -->
                    <h5 class="card-title">{{product.name}}</h5>
                    <!-- Add to Cart Button -->
                    <button class="btn btn-primary w-100 mb-2" >Add to Cart</button>
                    <!-- Buy Now Button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
                        Show Product
                      </button>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">{{ selectedProduct?.name }}</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Bootstrap Carousel for images -->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of selectedProduct?.images; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="Base_url + image.url" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>